<article>
  <h1>Product Search</h1>

  <div style="display: flex" class="input-group">
    <input type="text" [(ngModel)]="searchText" id="type-ahead" placeholder="Search here...">
    <span class="close-btn" (click)="resetData()" *ngIf="shownData.length">x</span>
  </div>



  <ul class="products" *ngIf="shownData.length">
    <li *ngFor="let content of this.shownData; let index = index" [innerHTML]="content.title | highlighter:searchText:'partial'">
    </li>
  </ul>


  <div class="pagination" *ngIf="shownData.length">
    <button [disabled]="prevDisabled" (click)="paginate(false)">Previous Page</button>
    <button [disabled]="nextDisabled" (click)="paginate(true)">Next Page</button>
    <div *ngIf="loading" class="loading">Loading...</div>
    <div style="flex: 1"></div>
    <span>(Page: {{ page }})</span>
  </div>
</article>
